@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Font Family */
    --font-sans: 'IBM Plex Sans Thai';
    --font-mono: 'IBM Plex Mono';

    /* ESC Colors */
    --esc-carmine-50: #f3e8e9;
    --esc-carmine-100: #e6d1d3;
    --esc-carmine-200: #cda3a7;
    --esc-carmine-300: #b4757b;
    --esc-carmine-400: #9b474f;
    --esc-carmine-500: #821923;
    --esc-carmine-600: #68141c;
    --esc-carmine-700: #4e0f15;
    --esc-carmine-800: #340a0e;
    --esc-carmine-900: #1a0507;

    /* Shadcn Colors */
    --background: #ffffff;
    --foreground: #020817;
    --card: #ffffff;
    --card-foreground: #020817;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --primary: #ffd230;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;
    --muted: #f1f5f9;
    --muted-foreground: #64748b;
    --accent: #f1f5f9;
    --accent-foreground: #0f172a;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #020817;
    --radius: 0.5rem;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;

    .control-dots {
      margin: 27px -21px !important;
    }
  }
}

.bg-pattern {
  background-image: url('/main/logo/sigmaLogo.svg'),
    radial-gradient(
      circle at 50% 50%,
      rgba(38, 38, 38, 0.8) 0%,
      rgba(24, 24, 24, 1) 100%
    );
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.control-dots {
  display: flex !important;
  justify-content: end !important;
  pointer-events: none !important;
}
